* {
  margin: 0;
  padding: 0;
}
* body {
  background: #F4F3F3;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.navContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgb(59, 59, 59);
}
.navContainer .LogoContainer {
  width: 2.8rem;
}
.navContainer .LogoContainer .logo {
  width: 100%;
}
.navContainer .iconMyCar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navContainer .iconMyCar .iconCar {
  font-size: 1rem;
  cursor: pointer;
  color: #22A39F;
}
.navContainer .nameDataContain p {
  margin-top: 0.5rem;
}
.navContainer .nameDataContain button {
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  border: none;
}
.navContainer .nameDataContain button:hover {
  background: #22a39f;
  color: #fff;
  cursor: pointer;
}

.listContainer {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listContainer .listItem {
  margin: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #22A39F;
  font-family: sans-serif;
}

.bannerImg {
  width: 100%;
  height: 65rem;
  background: url("../src/assets/banner.png") no-repeat;
  background-size: 100%;
}
.bannerImg h2 {
  color: rgb(34, 163, 159);
  font-family: sans-serif;
  font-size: 8rem;
  padding: 4rem 2rem;
}
.bannerImg h2 span {
  color: #F3EFE0;
}
.bannerImg p {
  color: #F3EFE0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  padding-right: 55rem;
}
.bannerImg p span {
  color: #22A39F;
}

.prodCard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodCard .prodImg {
  width: 80%;
  height: 80%;
}
.prodCard .verMasBtn {
  background: #22A39F;
  color: #3b3b3b;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.prodCard .verMasBtn:hover {
  background: #3b3b3b;
  color: #22A39F;
}

.prodContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.prodText {
  margin: 1.5rem;
  text-align: center;
}

.itemDetailContain {
  width: 70%;
  background: #22A39F;
  margin: 3rem auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.itemDetailContain h2 {
  margin-top: 1rem;
}
.itemDetailContain img {
  width: 30%;
  margin: 1rem auto;
}
.itemDetailContain p {
  margin: 0.5rem auto;
}
.itemDetailContain .volverBtn {
  font-size: 1rem;
  text-decoration: none;
  color: #3d3d3d;
  width: 15rem;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  background: #fff;
  border: none;
  cursor: pointer;
}
.itemDetailContain .volverBtn:hover {
  background: #3d3d3d;
  color: #fff;
}

.itemCountContain button {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 1rem;
  border: none;
  cursor: pointer;
  background: #3d3d3d;
  color: #fff;
}
.itemCountContain button:hover {
  background: #fff;
  color: #3d3d3d;
}

.linkCart {
  display: block;
  text-decoration: none;
}
.linkCart .iconCart {
  color: #22A39F;
  width: 3rem;
  height: 100%;
}
.linkCart span {
  color: #22A39F;
}

.cartContain {
  width: 80%;
  margin: 2rem auto;
  border-radius: 2rem;
  background: #3d3d3d;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cartContain h2 {
  text-align: center;
  margin: 1rem 1rem;
}
.cartContain .miBuy {
  display: flex;
  flex-direction: row;
}
.cartContain .miBuy .miPay button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem auto;
  background: #22a39f;
  color: #000;
}
.cartContain .miBuy .miPay button:hover {
  cursor: pointer;
  background: #fff;
}
.cartContain .miBuy .miProducts {
  width: 70%;
}
.cartContain .miBuy .miProducts .itemContent {
  width: 80%;
  background: #22A39F;
  margin: 1rem auto;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartContain .miBuy .miProducts .itemContent img {
  width: 15rem;
}
.cartContain .miBuy .miProducts .itemContent .itemText h4,
.cartContain .miBuy .miProducts .itemContent .itemText p {
  margin-bottom: 1rem;
}
.cartContain .miBuy .miProducts .itemContent button {
  background: none;
  border: none;
}
.cartContain .miBuy .miProducts .itemContent button .bashBtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.cartContain .miBuy .miProducts .itemContent button .bashBtn:hover {
  color: red;
}
.cartContain .link {
  text-decoration: none;
  color: #000;
  width: 12rem;
  background: #22A39F;
  border-radius: 1rem;
  display: block;
  padding: 1rem;
  margin: 1rem auto;
}
.cartContain .link:hover {
  color: #000;
  background: #fff;
}
.cartContain .link:hover .miPay {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cartContain .link:hover .miPay h4.totalText {
  margin: 1rem;
  text-align: center;
  color: #Fff;
}
.cartContain .link:hover .miPay button {
  width: 10rem;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.cartContain .link:hover .miPay button:hover {
  background: #22A39F;
  color: #fff;
}

.loginScreen {
  width: 100%;
  height: 100vh;
  background: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginScreen .login {
  max-width: 60%;
  padding: 5rem;
  border-radius: 2rem;
  background: #22A39F;
}
.loginScreen .login h2 {
  text-align: center;
}
.loginScreen .login form {
  display: flex;
  flex-direction: column;
}
.loginScreen .login form input,
.loginScreen .login form button {
  width: 20rem;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.loginScreen .login form button:hover {
  background: #3d3d3d;
  color: #22a39f;
}
.loginScreen .login .link {
  text-decoration: none;
  padding: 1rem;
  background: #fff;
  display: block;
  text-align: center;
  margin: 1rem;
  border-radius: 1rem;
  color: #000;
}
.loginScreen .login .link:hover {
  background: #3d3d3d;
  color: #22a39f;
}

.checkoutContain {
  width: 40%;
  background: #22a39f;
  text-align: center;
  margin: 5rem auto;
  padding: 2rem;
}
.checkoutContain form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
}
.checkoutContain form input {
  width: 100%;
  margin: 1rem auto;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}
.checkoutContain form button {
  margin: 1rem auto;
  width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
.checkoutContain form button:hover {
  cursor: pointer;
  background: #3d3d3d;
  color: #22a39f;
}
.checkoutContain p {
  margin: 2rem auto;
}
.checkoutContain .link {
  text-decoration: none;
  background: #fff;
  padding: 1rem 4rem;
  color: #000;
  border-radius: 1rem;
}
.checkoutContain .link:hover {
  background: #3d3d3d;
  color: #22a39f;
}/*# sourceMappingURL=main.css.map */