*
  margin: 0
  padding: 0
  body
    background: #F4F3F3
    font-family: sans-serif
    font-size: 1.2rem

.navContainer
  width: 100%
  height: 4rem
  display: flex
  flex-direction: row
  justify-content: space-evenly
  background: rgb(59, 59, 59)
  .LogoContainer
    width: 2.8rem
    .logo
      width: 100%
  .iconMyCar
    display: flex
    align-items: center
    justify-content: center
    .iconCar
      font-size: 1rem
      cursor: pointer
      color: #22A39F

.listContainer
  width: 50%
  list-style: none
  display: flex
  flex-direction: row
  justify-content: space-between
  .listItem
    margin: 1.5rem
    cursor: pointer
    text-decoration: none
    text-align: center
    color: #22A39F
    font-family: sans-serif

